body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0%;
}
section{
    padding: 5% 10% 0%;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 14px;
    color: rgb(88, 87, 87);
}

.flex{
    display: flex;
}

.half-width{
width: 50%;
}

.link-btn{
    color:white;
    padding: 10px 20px;
    background: tomato;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.half-width img{
    width: 80%;
    margin-left: 10%;
}
.btn-div{
    margin:20px 0px 30px;
}

.my-col-4{
    width: 30%;
    border-radius: 20px;
    padding: 20px 35px;
}


#section1 .my-header{
    position: relative;
}
#section1 .my-header h1{
    margin-left: 20px;
}
#section1 .my-header::before{
    position: absolute;
    display: block;
    content: " ";
    top: 12%;
    height: 75%;
    margin-right: 20px;
    border-left: 3px solid orangered;
}

#mission{
    background: #fff4e8;
}
#vission{
    background-color: #d6edb9;
    margin-left: 10px;
}
#goal{
    background-color: #9ac7ff;
    margin-left: 10px;
}
.my-mission img{
    height: 120px;
    width: 120px;
}

.text-center{
    text-align: center;
}
.orange-color{
    color: orange;
}
.one-third{
    width: 40%;
}
.two-third{
    width: 60%;
    margin-left: 5%;
}
.one-third img{
    width: 100%;
}

#section3{
background-image: url(../images/shapes/shape-1.png);
background-repeat: no-repeat;
background-position: 90px 180px;
background-size: 100px 180px;
}
#section4{
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 1134px 390px;
    background-size: 150px 150px;
    padding-bottom: 63px;

}

#section5 img{
    height: 250px;
    width: 200px;
}
#section5 .half-width img:hover{
    opacity: .8;
    transition: .2s;
    cursor: pointer;
    transform: translateX(10px);
}
#section5 .link-btn:hover{
    background-color: indianred;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 100px;
    padding: 10px 0px;
}